body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/back.jpg");
    background-size: 100;
    background-attachment: fixed}
header{position: fixed;}
p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1{
    text-align: center;
    font-size: 32pt;
    font-family: Gabriola, cursive;
    color: rgb(255, 255, 255);
    margin-top: 3px;}
h2.header{font-family: Bahnschrift Light, cursive; font-size: 18pt;}
h2{text-align: center;
    font-family: Gabriola, cursive;
    font-size: 25pt;
    background-color: #2a2a2a;
    color: rgb(219, 219, 219);
    margin-top: 3px;}
h3{font-family: Bahnschrift Light, cursive;}
h6{text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-top: 2pt;}
div.main{
    margin-left: 30pt;
    margin-right: 30pt;
    margin-top: 10pt;
}
a:link {color: aliceblue}
a:active {color: aliceblue;}
a:visited {color: aliceblue;}
.home{ 
    width: 1200px;
    height: 800px;
    position: absolute;
    margin-left: 160pt;
    background: #b7b7b7;
    top: 15px;
    padding: 5px;
    padding-right: 20px; 
    border: solid 3px #2b2422; 
    border-radius: 25px;
}
div.sp_characters{ 
    width: 1200px;
    height: 846px;
    position: absolute;
    top: 0;
    background: #b7b7b7;
    margin-left: 160pt;
    margin-top: 80pt;
    padding: 5px;
    padding-right: 20px; 
    border: solid 3px #2b2422;
    border-radius: 25px;
}
div.header{position: absolute;
    top: 0;
    width: 1200px;
    height: 70px;
    /*padding: 5px;*/
    padding-right: 20px;
    background: #2a2a2a;
    margin-left: 160pt;
    margin-top: 10pt;
    border: solid 3px rgb(169, 169, 169);
    border-radius: 25px;
}
a:link.normallink{color: rgb(91, 43, 154);}
a:active.normallink{color: rgb(91, 43, 154);}
a:visited.normallink{color: rgb(91, 43, 154);}
table.sp_char td, table.sp_char-right td{
    padding: 8px;
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    height: 111pt;
}
table.sp_char{
    float: left;
}
.sp_char{padding-left: 12pt; width: 600px; margin-top: 3px;}
table.sp_char-right{ 
    width: 600px;
    float: right;
    margin-top: 2pt;
}
.sp_pic{padding-right: 10px;}
.sp_pic-r{margin-left: 20pt;
margin-right: 10pt;}
dt{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
dd{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
p.left{float: left; margin-top: 50pt;}
div.sp_main{ 
    width: 1200px;
    height: 846px;
    position: absolute;
    top: 0;
    background: #616161;
    margin-left: 160pt;
    margin-top: 970px;
    padding: 5px;
    padding-right: 20px; 
    border: solid 3px #afafaf;
    border-radius: 25px;
}
table.sp_info{
color: rgb(5, 5, 5);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;
margin-right: 15pt;}
.sp_info1{margin-left: 30pt;
float: right;
font-size: 14pt;}
p.default{font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30pt;
    margin-right: 10pt;
    color: #f6f6f6;
}